@media screen and (max-width: 1000px){
    #profile, .section-container {
        display: block
    }
    .section__pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }
}